.alert {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.alert-info {
  background-color: #9e9e9e;
}

.alert-success {
  background-color: #8bc34a;
}

.alert-danger {
  background-color: #ff5722;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
