<div class=row style="margin-top: 50px;">
  <div class="">
    <form class="form-horizontal" ng-hide="accepted">
      <div class="row">
        <div class="input-field col s12 m8 push-m2" style="" input-field>
          <input class="" type="email" id="spEmail" ng-model="formModel.username" placeholder="Email" ng-disabled="posting" style="">
          <label for="spEmail" class="">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 push-m2" input-field>
          <label for=spPassword class="col-xs-12 col-sm-2 control-label">Password</label>
          <input type="password" class=form-control id=spPassword ng-model=formModel.password placeholder=Password ng-disabled=posting style="">
        </div>
      </div>
      <div class="row">
        <a ui-sref="passwordResetRequest" class="col pull-m2 right-align" style="float:right;">Forgot?</a>
      </div>
      <div class="row">
        <div class="col s12 m8 push-m2">
          <p class="alert alert-danger" ng-show=errorMsg ng-bind=errorMsg></p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 push-m3">
          <button class="btn btn-primary" style="" ng-click="fbLogin()" ng-disabled=posting>Connect with Facebook</button>
          <button class="btn btn-primary" style="" ng-click="submit()" ng-disabled=posting>LOG IN</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class=row style="">
  <div class="col-sm-offset-2 col-xs-12 col-sm-8">
    <p class="alert alert-info alert-dismissible text-center fade in" ng-show="posting" ng-bind="processMsg">
      <button type=button class=close data-dismiss=alert aria-lable=Close>
        <span aria-hidden=true>&times;</span>
      </button>
    </p>
    <p class="alert alert-success" ng-show="accepted && !posting && processMsg" ng-bind="processMsg"></p>
    <p class="alert alert-danger" ng-show="accepted && !posting && verifyMsg" ng-bind="verifyMsg"></p>
  </div>
</div>
