<div ng-include="'components/navbar/navbar.html'"></div>

<div class="at-view-slide-in-left page-content" style="">
  <div class="header">
    <h2><strong>My Account</strong></h2>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card small">
        <div class="card-title">
          <h3><i class="mdi-content-markunread" style="font-size: 2em;"></i>Notification</h3>
          <div class="ripple-wrapper"></div>
        </div>
        <hr style="margin: 0!important;">
        <div class="card-content"></div>
        <div class="card-action">
          <a href="#">EDIT</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card small">
        <div class="card-title">
          <h3><i class="mdi-action-favorite" style="font-size: 2em;"></i>Your Info</h3>
          <div class="ripple-wrapper"></div>
        </div>
        <hr style="margin: 0!important;">
        <div class="card-content">
          <div class="col-xs-12">
            <i class="mdi-maps-location-history" style="font-size: 8em;"></i>
            <h4 class="" style="margin-left: 100px; margin-top: -80px;">Email - {{user.email}}</h4>
            <h4 class="" style="margin-left: 100px; ">Cell - {{user.tel}}</h4>
          </div>
        </div>
        <div class="card-action">
          <a href="#">EDIT</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="card small">
        <div class="card-title">
          <h3><i class="mdi-action-lock" style="font-size: 2em;"></i>Password</h3>
          <div class="ripple-wrapper"></div>
        </div>
        <hr style="margin: 0!important;">
        <div class="card-content"></div>
        <div class="card-action">
          <a href="#">Rest Password</a>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card large">
        <div class="card-title">
          <h3><i class="mdi-action-credit-card" style="font-size: 2em;"></i>Payment Method</h3>
          <div class="ripple-wrapper"></div>
        </div>
        <hr style="margin: 0!important;">

        <div class="card-reveal">
          <span class="card-title" ng-click="togglePaymentEdit()">
            <i class="mdi-navigation-close f-left"></i>
            Input your payment method info
          </span>

          <form class="" stripe:form="saveCustomer">
            <div class="ccjs-card margin">
              <label class="ccjs-number">
                Card Number
                <input name="card-number" class="ccjs-number" data-stripe="number" placeholder="•••• •••• •••• ••••">
              </label>

              <label class="ccjs-csc">
                Security Code
                <input name="csc" class="ccjs-csc" data-stripe="cvc" placeholder="•••">
              </label>

              <button type="button" class="ccjs-csc-help">?</button>

              <label class="ccjs-name">
                Name on Card
                <input name="name" class="ccjs-name" data-stripe="name">
              </label>

              <fieldset class="ccjs-expiration">
                <legend>Expiration</legend>
                <select name="month" class="ccjs-month" data-stripe="exp-month">
                  <option selected disabled value="">MM</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>

                <select name="year" class="ccjs-year" data-stripe="exp-year">
                  <option selected disabled value="">YY</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                </select>
              </fieldset>

              <select name="card-type" class="ccjs-hidden-card-type">
                <option value="amex" class="ccjs-amex">American Express</option>
                <option value="discover" class="ccjs-discover">Discover</option>
                <option value="mastercard" class="ccjs-mastercard">MasterCard</option>
                <option value="visa" class="ccjs-visa">Visa</option>
                <option value="diners-club" class="ccjs-diners-club">Diners Club</option>
                <option value="jcb" class="ccjs-jcb">JCB</option>
                <!--<option value="laser" class="laser">Laser</option>-->
                <!--<option value="maestro" class="maestro">Maestro</option>-->
                <!--<option value="unionpay" class="unionpay">UnionPay</option>-->
                <!--<option value="visa-electron" class="visa-electron">Visa Electron</option>-->
                <!--<option value="dankort" class="dankort">Dankort</option>-->
              </select>
            </div>
            <script src="assets/js/creditcardjs-v0.10.12.min.js"></script>

            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-4">
                <p class="alert alert-danger" ng-show="error" ng-bind="error"></p>
                <button type="submit" class="btn btn-primary" ng-disabled="creating">Submit Payment Info</button>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-xs-12">
              <div class="alert alert-success alert-dismissible fade in" role="alert" ng-show="acceptedMsg">
                <button type=button class=close data-dismiss=alert aria-label=Close>
                  <span aria-hidden=true>&times;</span>
                </button>
                <p ng-bind="acceptedMsg"></p>
              </div>
              <pre ng-show="debugMode" ng-bind="user.payment | json"></pre>
            </div>
          </div>
        </div>

        <div class="card-image">
          <div class="ccjs-card" ng-show=!editingPayment>
            <label class="ccjs-number" style="width: 11.25em;">
              Card Number
              <label class="form-control">•••• •••• •••• 3249</label>
            </label>

            <label class="ccjs-csc">
              Security Code
              <label class="form-control">•••</label>
            </label>

            <label class="ccjs-name">
              Name on Card
              <label class="form-control">••••••</label>
            </label>

            <fieldset class="ccjs-expiration clear-after-content">
              <legend>Expiration</legend>
              <label class="form-control">••/••</label>
            </fieldset>
          </div>
        </div>
        <div class="card-action">
          <a href="#" class="activator" ng-click="togglePaymentEdit()">Edit</a>
        </div>

      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>© Copyright 2015 Caregivers.com </p>
  </div>
</footer>
