<div class=row>
  <div class="">
    <p class="alert alert-info alert-dismissible text-center fade in" ng-show="posting" ng-bind="processMsg">
      <button type=button class=close data-dismiss=alert aria-lable=Close>
        <span aria-hidden=true>&times;</span>
      </button>
    </p>
    <p class="alert alert-success" ng-show="accepted && !posting && processMsg" ng-bind="processMsg"></p>
    <p class="alert alert-danger" ng-show="accepted && !posting && verifyMsg" ng-bind="verifyMsg"></p>
  </div>
</div>
<div class="row">
  <form class="col s12 m6 push-m3" ng-hide="accepted" ng-submit="submit();">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" ng-model="formModel.username" placeholder="Username or Email" ng-disabled="posting" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="password" class="validate" id="spPassword" ng-model="formModel.password" placeholder="Password" ng-disabled="posting">
        <label for="spPassword">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <div class="col m8">
          <p class=text-danger ng-show=errorMsg ng-bind=errorMsg></p>
          <button type=submit class="btn btn-primary" ng-disabled=posting>Login</button>
          <a ui-sref=passwordResetRequest class=pull-right>Forgot Password</a>
        </div>
      </div>
    </div>
  </form>
</div>
