<div class=row>
  <div class="col-sm-offset-4 col-xs-12 col-sm-4">
    <p class="alert alert-info alert-dismissible text-center fade in" ng-show="processing || posting" ng-bind="processMsg">
      <button type=button class=close data-dismiss=alert aria-lable=Close>
        <span aria-hidden=true>&times;</span>
      </button>
    </p>
    <p class="alert alert-success" ng-show="accepted && !processing && verified" ng-bind="acceptedMsg"></p>
    <p class="alert alert-danger" ng-show="accepted && !processing && verifyMsg" ng-bind="verifyMsg"></p>
  </div>

  <div class="modal fade" id="term-modal" tabindex="-1" role="dialog" aria-labelledby="termModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
          <h4 class="modal-title" id="termModalLabel">Terms of Service</h4>
        </div>
        <div class="modal-body">
          <p class="terminal">Payment processing services for partner on CareGivers are provided by Stripe and are subject to the <a href="https://stripe.com/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>, which includes the <a href="https://stripe.com/terms" target="_blank">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”). By agreeing to these terms or continuing to operate as a partner on CareGivers, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of CareGivers enabling payment processing services through Stripe, you agree to provide CareGivers accurate and complete information about you and your business, and you authorize CareGivers to share it and transaction information related to your use of the payment processing services provided by Stripe.</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary" ng-click="acceptTos();">Accept</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=row>
  <div class=col-xs-12>
    <form class=form-horizontal ng-hide=accepted ng-submit=submit()>
      <div class=form-group>
        <label for=spEmail class="col-xs-12 col-sm-4 control-label">Email</label>
        <div class="col-xs-12 col-sm-4">
          <input class=form-control id=spUsername ng-model=formModel.username placeholder="Username or Email" ng-disabled=posting>
        </div>
      </div>
      <div class=form-group>
        <label for=spPassword class="col-xs-12 col-sm-4 control-label">Password</label>
        <div class="col-xs-12 col-sm-4">
          <input type=password class=form-control id=spPassword ng-model=formModel.password placeholder=Password ng-disabled=posting>
        </div>
      </div>
      <div class=form-group>
        <div class="col-sm-offset-4 col-sm-4">
          <p class=text-danger ng-show=errorMsg ng-bind=errorMsg></p>
          <button type=submit class="btn btn-primary" ng-disabled=posting>Login</button>
          <a ui-sref=passwordResetRequest class=pull-right>Forgot Password</a>
        </div>
      </div>
    </form>
  </div>
</div>
