<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-content">
        <span class="card-title ">
          Current Pay Period
        </span>
        <div class="list-group" ng-repeat="sheet in timeSheet">
          <div class="list-group-item">
            <div class="row-content">
              <!-- <div class="least-content">15m</div> -->
              <h4 class="list-group-item-heading">{{sheet.date}}</h4>
              <p class="list-group-item-text">
              </p>
            </div>

            <div class="row" ng-repeat="detail in sheet.times">
              <div class="col-sm-4">{{detail.name}}</div>
              <div class="col-sm-4">{{detail.start}} - {{detail.end}}</div>
              <div class="col-sm-4" style="text-align: end;">{{detail.elapse}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <span class="card-title">
        Past Pay Period
      </span>

      <div class="card-content">
        <ul>
          <li ng-repeat="year in oldYears">
            <a ui-sref="time-sheet.year({year: year.path})">{{year.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
