<div ng-controller="NavbarCtrl">

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-branded"><img src="assets/images/caregivers-logo-header-40px.jpg"/> </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li if-user ng-class="{active: isActive('/profile')}">
          <a ui-sref="profile" ng-bind="profileTitle"></a>
        </li>
        <li if-not-user ng-class="{active: isActive('/register')}">
          <a ui-sref="register" ng-show="isRegisterOpen">Register</a>
        </li>
        <li if-not-user ng-class="{active: isActive('/login')}">
          <a ui-sref="login">Login</a>
        </li>
        <li if-user ng-class="{active: isActive('/logout')}">
          <a ui-sref="main" sp-logout>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="term-modal" tabindex="-1" role="dialog" aria-labelledby="termModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="termModalLabel">Terms of Service</h4>
      </div>
      <div class="modal-body">
        <p class="terminal">Payment processing services for partner on CareGivers are provided by Stripe and are subject to the <a href="https://stripe.com/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>, which includes the <a href="https://stripe.com/terms" target="_blank">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”). By agreeing to these terms or continuing to operate as a partner on CareGivers, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of CareGivers enabling payment processing services through Stripe, you agree to provide CareGivers accurate and complete information about you and your business, and you authorize CareGivers to share it and transaction information related to your use of the payment processing services provided by Stripe.</p>
      </div>
      <div class="modal-footer">
        <div class="col-sm-10" style="top: -10px;">
          <div class="alert alert-info alert-dismissible text-left fade in" ng-show="posting" ng-bind="processMsg">
            <button type=button class=close data-dismiss=alert aria-lable=Close>
              <span aria-hidden=true>&times;</span>
            </button>
          </div>
          <div class="alert alert-success" ng-show="!posting && processMsg" ng-bind="processMsg"></div>
          <div class="alert alert-danger" ng-show="!posting && verifyMsg" ng-bind="verifyMsg"></div>
        </div>
        <button type="button" class="btn btn-primary" ng-disabled=posting ng-click="acceptTos();">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="session-modal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="sessionModalLabel">Session Timeout</h4>
      </div>
      <div class="modal-body">
        <p class="terminal">You session will expire soon. Please click Continue to login again.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="endSession();">Continue</button>
      </div>
    </div>
  </div>
</div>

</div>
