<div class="container design list">
  <div class="row">

    <div class="col-md-6 col m12 s12">
      <div class="card" style="background-color: #F5F5F5;">
        <div class="card-content">
          <h3 class="card-title center-align">Upload files</h3>

          <div class="row">
            <div class="col-sm-offset-1 col-xs-12" input-field>
              <input type="file" nv-file-select uploader="uploader"/><br/>
              <div class="col-md-9" style="margin-bottom: 40px">
                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader.queue.length }}</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10%; min-width: 220px;">Name</th>
                            <th style="width: 100px;" ng-show="uploader.isHTML5">Size</th>
                            <th style="width: 20%; min-width: 220px;" ng-show="uploader.isHTML5">Progress</th>
                            <th>Status</th>
                            <th style="width: 30%; min-width: 280px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>
                              <strong ng-if="item.link == undefined">{{ item.file.name }}</strong>
                              <a ng-if="item.link != undefined" href="{{item.link}}"><strong>{{ item.file.name }}</strong></a>
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-left">
                                <span ng-show="item.isSuccess">
                                  <i class="glyphicon glyphicon-ok">Done
                                    <sapn ng-show="item.isSuccess && item.isTpc">, put file seesion id for
                                    <a href="#" ng-click="setRegisterInput(item.path)">Register</a> , Or
                                    <a href="#" ng-click="setGenerateInput(item.path)">Generate</a></span>
                                  </i>
                                </span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove">{{item.error}}</i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-hide=item.isSuccess ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-hide=item.isSuccess ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>

                                <!-- <button type="button" class="btn btn-warning btn-xs" ng-click="item.register()" ng-show="item.isSuccess && item.isTpc" ng-disabled="item.isRegisting">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Register
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.generate()" ng-show="item.isSuccess && item.isTpc" ng-disabled="item.isGenerating">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Generate
                                </button> -->
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        Queue progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col m6 s12">
      <div class="card" style="background-color: #F5F5F5;">
        <div class="card-content">
            <h3 class="card-title center-align">Register design</h3>
            <div class="row">
              <div class="col-sm-offset-2 col-xs-12 col-sm-8">
                <p class="alert alert-success" ng-show="created && !enabled">{{designGdn}} has been registered.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-offset-2 col-xs-12 col-sm-8">
                <p class="alert alert-danger" ng-show="error && creating" ng-bind=error></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-offset-1 col-xs-12">
                <form class="form-horizontal" ng-hide="created && !authenticating">
                  <div class="row">
                    <div class="col s12 m8 push-m2" input-field>
                      <label for="spFileName" class="col-xs-12 col-sm-2 control-label">File Session ID</label>
                      <input class="form-control" type="text" id="spFileName4Register" ng-model="registerModel.URL" placeholder="Please input File Session ID" ng-disabled="creating">
                    </div>
                  </div>

                  <div class="row">
                    <button id="btnRegister" ng-click="register()" type="submit" class="btn btn-primary" ng-disabled="creating || registerModel.URL === ''" style="display:block; margin: 0 auto;">Register</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col m6 s12">
      <div class="card" style="background-color: #F5F5F5;">
        <div class="card-content">
          <h3 class="card-title center-align">Generate DES file</h3>
          <div class="row">
            <div class="col-sm-offset-2 col-xs-12 col-sm-8">
              <p class="alert alert-success" ng-show="generated && !enabled">
                DES file has been generated, get it from <a href="{{desFile|resUrlParser}}" target="_blank">here</a>.

                Or <a href="#" ng-click="back2Generate()">Back</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-2 col-xs-12 col-sm-8">
              <p class="alert alert-danger" ng-show="error && generating" ng-bind=error></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-1 col-xs-12">
              <form class="form-horizontal" ng-hide="generated && !authenticating" ng-submit="generate()">
                <div class="row">
                  <div class="col s12 m8 push-m2" input-field>
                    <label for="spFileName" class="col-xs-12 col-sm-2 control-label">File Session ID</label>
                    <input class="form-control" type="text" id="spFileName4Generate" ng-model="generateModel.URL" placeholder="Please input File Session ID" ng-disabled="creating">
                  </div>
                </div>

                <div class="row">
                  <button id="btnGenerate" type="submit" class="btn btn-primary" ng-disabled="generating || generateModel.URL === ''" style="display:block; margin: 0 auto;">Generate</button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col m12 s12">
      <div class="card" style="background-color: #F5F5F5;">
        <div class="card-content">
          <span class="card-title">
            Available design list
          </span>

          <table class="table dataTable display" role="grid" id="tblDesigns" cellspacing="0" width="100%">
            <thead>
                <tr role="row">
                    <th width=160>Created</th>
                    <th width=300>GDN</th>
                    <th width=300>Name</th>
                    <th width=100>Thumbnail</th>
                </tr>
            </thead>
            <tbody ng-show=isDsnLoaded>
                <tr ng-repeat="data in designs">
                  <td title='{{data.DESIGN_SUM_TBL.created_at * 1000 | date: "zone: Z"}}'>
                    <div ng-hide=true>{{data.DESIGN_SUM_TBL.created_at}}</div>
                    {{data.DESIGN_SUM_TBL.created_at * 1000 | date: 'dd/MMM/yyyy hh:mm a'}}
                  </td>
                  <!-- <td ng-show="{{data.isNew}}" style="color: red;">{{data.DESIGN_SUM_TBL.GDN}}</td> -->
                  <td>{{data.DESIGN_SUM_TBL.GDN}}</td>
                  <td><a ui-sref="design.gdn({gdn: data.DESIGN_SUM_TBL.GDN})">{{data.DESIGN_SUM_TBL.DesignName}}</a></td>
                  <td><img style="width: 25px!important; height: 25px!important;" ng-src="{{data.DESIGN_SUM_TBL.Thumbnail_75|resUrlParser}}"></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
