<section ui-view class="full-review">
  <header class="header">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s3">
              <img src="/assets/images/Avatar_Female_Copy@2x.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s9">
              <span class="black-text">
                  <header class="title">
                    {{frCtrl.fullReview.first_name}} {{frCtrl.fullReview.last_inital}}.'s Review
                  </header>
                  <p>Hired {{frCtrl.fullReview.first_name}} for {{frCtrl.fullReview.hire_month}} months</p>
              </span>
            </div>
          </div>
        </div>
      </div>
  </header>
  <section class="review-list" ng-repeat="review in frCtrl.fullReview.reviews">
    <div class="col s12 m8">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="rate">
          <i ng-repeat="star in [1,2,3,4,5]" ng-class="star <= review.star_rating ? 'mdi-toggle-star' : 'mdi-toggle-star-outline'"></i><span>{{review.star_rating}}/5 stars</span><i ng-if="!review.reply" ui-sref="headless.full-review.detail({id : review.id})" class="mdi-content-reply"></i>
        </div>
        <div class="time">{{review.created_at.format('ll')}} (after {{review.since_hire}} of care)</div>
        <div class="content">"{{review.content}}"</div>
        <div class="reply" ng-if="!!review.reply">
          <p>Your reply:</p>
          <p class="content">"{{review.reply}}"</p>
        </div>
      </div>
    </div>
  </section>

</section>
