<section ui-view class="full-review">
  <section class="reviewers" ng-repeat="review in frCtrl.reviews">
    <header class="header">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s3">
              <img src="/assets/images/Avatar_Female_Copy@2x.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s9">
              <span class="black-text">
                <header class="title">
                  {{review.name}}.'s Review
                </header>
                <p>Hired {{frCtrl.userName}} for {{review.hire_month || 2}} months</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="review-list">
      <div class="col s12 m8">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="rate">
            <i ng-repeat="star in [1,2,3,4,5]" ng-class="star <= review.score ? 'mdi-toggle-star' : 'mdi-toggle-star-outline'"></i><span>{{review.score}}/5 stars</span><i ng-if="!review.replies" ui-sref="headless.full-review.detail({id : review._id})" class="mdi-content-reply"></i>
          </div>
          <div class="time">{{review.created_at | date: "longDate"}} (after {{review.since_hire || 2}} months of care)</div>
          <div class="content">"{{review.content}}"</div>
          <div class="reply" ng-if="!!review.replies">
            <p>Your reply:</p>
            <p class="content">"{{review.replies[0].content}}"</p>
          </div>
        </div>
      </div>
    </section>
    <section class="review-list" ng-repeat="r in review.review_histories | orderBy:'-created_at'">
      <div class="col s12 m8">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="rate">
            <i ng-repeat="star in [1,2,3,4,5]" ng-class="star <= r.score ? 'mdi-toggle-star' : 'mdi-toggle-star-outline'"></i><span>{{r.score}}/5 stars</span><i ng-if="!r.replies" class="mdi-content-reply"></i>
          </div>
          <div class="time">{{r.created_at | date: "longDate"}} (after {{r.since_hire || 2}} months of care)</div>
          <div class="content">"{{r.content}}"</div>
          <div class="reply" ng-if="!!r.replies">
            <p>Your reply:</p>
            <p class="content">"{{r.replies[0].content}}"</p>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
