<!-- <div class="sidebar" ui-view="sidebar"> -->
<!--   <div class="sidebar-inner"></div> -->
<!-- </div> -->
<!-- Dropdown Structure -->
<nav>
  <div class="nav-wrapper" ng-controller="SidebarCtrl" style="background-color: #21304E;">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}"><span>{{item.title}}</span></a>
        </li>
        <li if-user ng-class="{active: isActive('/profile')}">
          <a ui-sref="profile" ><span ng-bind="profileTitle"></span></a>
        </li>
        <!-- <li if-not-user ng-class="{active: isActive('/register')}">
          <a ui-sref="register" ng-show="isRegisterOpen"><span>Register</span></a>
        </li> -->
        <!-- <li if-not-user ng-class="{active: isActive('/login')}">
          <a ui-sref="login"><span>Login</span></a>
        </li> -->
        <li if-user ng-class="{active: isActive('/time-sheet')}" ng-if="hasTimeSheet">
          <a ui-sref="time-sheet.list"><span>Time Sheet</span></a>
        </li>
        <li if-not-user ng-class="{active: isActive('/design')}">
          <a ui-sref="design.list"><span>Design</span></a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">

        <li if-user class="profile">

          <img src="/assets/images/Avatar_Female_Copy@2x.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
          <span>Hi, {{ user.surname }}<a ui-sref="profile"><i class="material-icons" style="color: white;">settings</i></a></span>
        </li>
        <!-- <li style="height:64px;"> -->
        <!--   <a ui-sref="main" class="brand-logo">sdfsdf</a> -->
        <!-- </li> -->
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}"><span>{{item.title}}</span></a>
        </li>
        <li if-user ng-class="{active: isActive('/profile')}">
          <a ui-sref="profile" ><span ng-bind="profileTitle"></span></a>
        </li>
        <li if-not-user ng-class="{active: isActive('/register')}">
          <a ui-sref="register" ng-show="isRegisterOpen"><span>Register</span></a>
        </li>
        <li if-not-user ng-class="{active: isActive('/login')}">
          <a ui-sref="login"><span>Login</span></a>
        </li>
        <li if-user ng-class="{active: isActive('/time-sheet')}" ng-if="hasTimeSheet">
          <a ui-sref="time-sheet.list"><span>Time Sheet</span></a>
        </li>
          <div if-user class="sidebar-footer">
          <a href="#">Contact & FAQ</a>
          <a ui-sref="main" cg-logout>Sign Out</a>
        </div>
      </ul>
    </div>
    <ul class="left hide-on-small-and-down">

      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}"><span>{{item.title}}</span></a>
      </li>
      <li if-user ng-class="{active: isActive('/profile')}">
        <a ui-sref="profile" ><span ng-bind="profileTitle"></span></a>
      </li>
      <li if-not-user ng-class="{active: isActive('/register')}">
        <a ui-sref="register" ng-show="isRegisterOpen"><span>Register</span></a>
      </li>
      <!-- <li if-not-user ng-class="{active: isActive('/login')}">
        <a ui-sref="login"><span>Login</span></a>
      </li> -->
      <li if-user ng-class="{active: isActive('/time-sheet')}" ng-if="hasTimeSheet">
        <a ui-sref="time-sheet.list"><span>Time Sheet</span></a>
      </li>
    </ul>
  </div>
</nav>
